
  /* * {outline: black solid 1px} */

/* xs devices */
body { background-color: red}

/* sm devices */
@media (min-width:576px){ 
body {background-color: orange}
}

/* md devices */
@media (min-width: 768px){ 
body {background-color: yellow}
}

/* lg devices */
@media (min-width:992px){ 
body {background-color: green}
}
            
/* xl devices */
@media (min-width:1200px){ 
body {background-color: lightpink}
}

@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');
font-family: 'Skranji', cursive;

body, html {
    font-family: 'Skranji', cursive;
    height: 100%;
    margin: 0;
}

.backg{
    background-color: #4c66e0;
}

/* .bg {
  background-image: url("images/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.title{
    margin: 0 auto;
    color: #42B1E1;
    font-size: larger; 
}

.navbar{
    background-color: #e07958;
    border: 10px solid grey;
}
.navbtns{
    font-size: 50px;
    color: #42B1E1;
}

.logo{
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* HOME PAGE CODE */

    .burger{
        padding: 10px;
    }

    .galleygrub {
        margin: 0 auto;
        background-color: #36e0b7;
    }

    .whitetext{
        color: white;
    }

    .dinerimage{
        
    }

/* LOCATIONS PAGE CODE */

.picture{
    padding: 20px;
    
}

.bikinis{
    outline: 1px solid black;
}






